<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<br>
<%= '*'* 200 %>
<br>

<div id="new_post_form"></div>

<%= '*' * 200 %>

<div id="posts_list"></div>
<%= javascript_tag "render_post_form('#{@user.id}', '#{token}')" %>
